@import "../vars";
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-out .225s;
    padding: 0;
    &:focus {
        box-shadow: none;
    }
}

.btn-yellow{
    background-color: $primary;
    color: #333333;
    &:hover{
        color: #333333;
        background-color: darken($primary,10%);
    }
}


.text-link{
    font-weight: 500;
    font-size: 14px;
    text-decoration-line: underline;
    color: #006BE8;
    &:hover{
        text-decoration: none;
        color: #006BE8;
    }
}

@media screen and (max-width: 768px){
    .text-link{
        font-size: 12px;
    }
}
