@import "../vars.scss";
.breadcrumbs {
    margin: 14px 0 10px;
    &__back{
        font-weight: 600;
        display: flex;
        align-items: center;
        color: $secondary;
        &:hover{
            span{
                text-decoration: none;
            }
        }
        span{
            text-decoration: underline;
        }
        svg{
            margin-right: 1px;
        }
        &:hover{
            color: $secondary;
        }
    }
    &__items{
        margin-top: 18px;
    }
    &__item {
        font-size: 14px;
        line-height: 129%;
        display: inline;
        &:not(:first-child) {
            &:before {
                content: '/';
                margin: 0 5px 0 2px;
            }
        }
    }
}

@media screen and (max-width: 992px){
    .breadcrumbs{
        margin-bottom: 6px;
        &__back{
            font-size: 14px;
            line-height: 164%;
            svg{
                width: 18px;
                height: auto;
            }
        }
        &__items{
            margin-top: 8px;
        }
        &__item{
            font-size: 12px;
        }
    }
}
