<div class="blog-row blog-row--article">
    <div class="blog-row__content">
        <div class="blog-row__title display3">Инструкция по технической проверке авто перед покупкой</div>
        <div class="blog-row__desc">Диагностика авто перед покупкой – это комплекс мероприятий, которые позволят узнать судьбу автомобиля. Покупая б/у машину, всегда есть риск приобрести авто, которое находится в залоге, числится в угоне, либо просто неисправно. Поэтому каждый покупатель должен. Покупая б/у машину, всегда есть риск приобрести авто, которое находится в залоге, числится в угоне, либо просто неисправно. Покупая б/у машину, всегда есть риск приобрести авто, которое находится в залоге, числится в угоне...</div>
        <div class="blog-row__bottom">
            <a href="" class="blog-row__link text-link">Подробнее</a>
        </div>
    </div>
    <div class="blog-row__media">
        <img src="img/blog.webp" alt="">
    </div>
</div>
