<div class="blog-card__img">
    <img src="img/blog.webp" alt="">
</div>
<div class="blog-card__content">
    <div class="blog-card__title">Инструкция по технической проверке авто перед покупкой</div>
    <div class="blog-card__desc">Техническая проверка машины – обязательный пункт покупки авто с пробегом любого класса. Она включает множество пунктов. Мы дадим пошаговую инструкцию, что нужно сделать с...</div>
    <div class="blog-card__bottom">
        <a href="" class="blog-card__link text-link">Читать далее</a>
    </div>
</div>
